In [ ]:
!pip install mysql

In [ ]:
from substrateinterface import SubstrateInterface, Keypair
from substrateinterface.exceptions import SubstrateRequestException

substrate = SubstrateInterface(
    url="ws://35.80.10.26:11946",
    ss58_format=42,
    type_registry_preset='kusama'
)

In [1]:
import mysql.connector

In [25]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="ian",
    database='test'
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7f7471c21320>

In [28]:
mycursor = mydb.cursor()

In [24]:
mycursor.execute("CREATE DATABASE test")

In [29]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('postthread',)
('postthread2',)
('sys',)
('test',)

In [30]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [36]:
mycursor.execute("CREATE TABLE messages (data TEXT, signer VARCHAR(255), msa_id INT, index INT)")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'INT)' at line 1